<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body align="center">
<form action="predictor" method="POST">
    {% csrf_token %}
    <input type="number" placeholder="milage" name="milage"/><br>
    <input type="number" placeholder="year" name="year"/><br>
    <select name="model">
        {% for i in model %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select><br>
    <select name="fuel">
        {% for i in fuel %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>
</body>
</html>